<div class="container">
  <div class="row">
    <div class="col-12 col-md-5">
      <h6 class="text-muted text-dark">Informations concernants les quizz du résident:</h6>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Moyenne des click par question:
          <span id="clickParQuestion" class="badge badge-primary badge-pill bg-primary">10</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center ">
          Nombre de question réalisée:
          <span id="nbrQuestion" class="badge badge-primary badge-pill bg-primary">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Pourcentage de bonne réponse:
          <span id="pourcentageGoodAnswer" class="badge badge-danger badge-pill bg-primary">5</span>
        </li>
      </ul>
    </div>
  </div>
</div>

