.row {
    display: flex;
    flex-direction: row;
    width: fit-content!important;
    height: min-content!important;
    justify-content: space-between;
}

.answer {
    margin: 1vw!important;
    width: fit-content!important;
}

.answerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    background-color: white!important;
    color: black!important;
}

.false {
    background-color: red;
    color: white;
}

.true {
    background-color: green;
    color: white;
}