<div class="card">
  <h3 class="text-center">Handicaps</h3>
  <div class="container">
    <h5>Moteur</h5>

    <div class="container">

      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">
          Tremblement d'attitude
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Tremblement intentionnel
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Tremblement essenciel
        </label>
      </div>

    </div>
  </div>
</div>
