<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center">
      <img src="assets/images/empty.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Dernier quiz effectué</h5>

        <div class="card-text">
          <div><b>Nom : </b> Paul</div>
          <div><b>Prénom : </b> Tran-blé</div>
          <div><b>Quiz : </b> La musique</div>
        </div>

        <p class="card-text text-end"><small class="text-muted">le 08/03/2022</small></p>
      </div>
    </div>
  </div>
</div>
