<div class="container">
  <div class="fs-2 mb-3"><i class="bi bi-person-workspace"></i> Modification d'un résident</div>
</div>
<br>
<div class="container h-75">
  <div class="row">

    <div class="col">
      <div class="container d-flex">
        <img src="assets/images/square.svg" alt="">
        <div class="container d-flex flex-column justify-content-around">
          <h2 class="text-primary">TRAN-BLE Paul</h2>
        </div>
      </div>
    </div>

    <div class="col d-flex flex-column">
      <app-resident-modification-handicap></app-resident-modification-handicap>
      <button class="btn btn-success" [routerLink]="['/resident/$id']">Valider</button>
    </div>
  </div>
</div>
