.btn-trim {
    display: inline-block;
}

#navigation {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
}

.navButton {
  height: 14vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
