<app-start-quiz [currentQuestion]="currentQuestion" [indexOfQuestion]="currentQuizIndex"></app-start-quiz>
<div id="navigation">
    <div class="card-body d-flex justify-content-center flex-wrap ">
        <div class="p-2">
            <a (click)="previousQuiz()" class="btn btn-secondary navButton">
                question précédente
            </a>
        </div>
    </div>
    <div class="card-body d-flex justify-content-center flex-wrap ">
        <div class="p-2">
            <a (click)="nextQuiz()" class="btn btn-secondary navButton">
                question suivante
            </a>
        </div>
    </div>
</div>