.btn-trim {
    display: inline-block;
}

#navigation {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
}

.navButton {
    font-size: 2vw;
    min-width: 40vw;
    min-height: 14vh;
}
