<div class="card">
  <h4 class="card-header py-3">Que voulez-vous faire ?</h4>

  <div class="custom-card-body">


    <div class="custom-button secondary" [routerLink]="['/quiz/creation']">
      <i class="bi bi-plus-lg"></i>
      Créer un quiz
    </div>

    <div class="custom-button secondary"  [routerLink]="['/quiz']">
      <i class="bi bi-pencil-square"></i>
      Gérer les quiz
    </div>

    <div class="custom-button primary" [routerLink]="['/residents']">
      <i class="bi bi-person-lines-fill"></i>
      Choisir un résident
    </div>
  </div>

</div>
