<div class="card">
  <h4 class="card-header">Que voulez-vous faire ?</h4>

  <div class="card-body d-flex justify-content-center flex-wrap ">
    <div class="p-2">
      <a href="#" class="btn btn-secondary">
        <i class="bi bi-plus-lg"></i>
        Créer un quiz
      </a>
    </div>

    <div class="p-2">
      <a class="btn btn-secondary" [routerLink]="['/quiz']">
        <i class="bi bi-pencil-square"></i>
        Gérer les quiz
      </a>
    </div>

    <div class="p-2">
      <a class="btn btn-primary" [routerLink]="['/residents']">
        <i class="bi bi-person-lines-fill"></i>
        Choisir un résident
      </a>
    </div>
  </div>
</div>
