<div class="container">
  <div class="fs-2 mb-3 "><i class="bi bi-play-fill"></i> Gestion des quiz</div>
  <div class="container">

    <div class="list-group-item d-flex justify-content-center text-primary">
      <a class="stretched-link" [routerLink]="['/quiz/creation']"></a>
      + Ajouter un nouveau quiz
    </div>
    <br>
    <div class="row justify-content-start">
      <div class="col"> Nom du quiz</div>
      <div class="col">Theme du quiz</div>
    </div>
    <div class="quiz-list">
      <div class="quiz" *ngFor="let tutoriel of tutoList">
        <li class="list-group-item">
          <div class="col fs-4 mb-3">{{tutoriel.question}}</div>
          <div class="col fs-4 mb-3">{{tutoriel.reponse}}</div>
        </li>
      </div>
    </div>

  </div>

</div>
