<div class="card">
  <h3 class="text-center">Handicaps</h3>
  <div class="container">
    <h5>Moteur</h5>

    <div class="container">

      <div class="form-check">
        <input (click)="updateHandicap('Tremblement d\'attitude')"
               class="form-check-input"
               type="radio"
               name="handicap">
        Tremblement d'attitude
      </div>

      <div class="form-check">
        <input (click)="updateHandicap('Tremblement intentionnel')"
               class="form-check-input"
               type="radio"
               name="handicap">
        Tremblement intentionnel
      </div>

      <div class="form-check">
        <input (click)="updateHandicap('Tremblement essenciel')"
               class="form-check-input"
               type="radio"
               name="handicap">
        Tremblement essenciel
      </div>

      <div class="form-check">
        <input (click)="updateHandicap('Aucun')"
               class="form-check-input"
               type="radio"
               name="handicap"
               checked>
        Aucun
      </div>
      <br>

    </div>
  </div>
</div>
