<div class="container">

    <div class="row">
      <div class="col">
        <br>
        <br>
        <div  class="d-flex justify-content-center">
          <div class="fs-2 mb-3"><i class="bi bi-trophy-fill"></i> Résultats</div>
        </div>
        <br>
        <br>

        <div class="fs-2 mb-3">Temps : (coming soon)</div>
          <br>

        <div class="fs-2 mb-3">Quiz :</div>
        <br>

        <div class="fs-2 mb-3">Score :</div>
        <br>

      </div>

      <div class="col">

        <br>
        <br>
        <div  class="d-flex justify-content-center">
          <div class="fs-2 mb-3"><i class="bi bi-question-circle-fill"></i> Que voulez-vous faire ?</div>
        </div>
        <br>
        <br>


        <div class="card-body d-flex justify-content-center flex-wrap ">
          <a href="#" class="btn btn-secondary">
            <div  class="d-flex justify-content-center">
              <div >Tortues</div>
            </div>
          </a>
        </div>
        <br>

        <div class="card-body d-flex justify-content-center flex-wrap ">
          <a href="#" class="btn btn-secondary">
            <div  class="d-flex justify-content-center">
              <div >Le foot</div>
            </div>
          </a>
        </div>
        <br>

        <div class="card-body d-flex justify-content-center flex-wrap ">
          <a href="#" class="btn btn-secondary">
            <div  class="d-flex justify-content-center">
              <div >Les Etats Unis</div>
            </div>
          </a>
        </div>
        <br>


      </div>

    </div>
</div>
