<br>
<div class="container h-75">
    <div class="row">

        <div class="col">
            <div class="container d-flex">
                <img src="assets/images/square.svg" alt="">
                <div class="container d-flex flex-column justify-content-around">
                    <h2 class="text-primary">TRAN-BLE Paul</h2>
                    <div class="btn-trim">
                        <button class="btn btn-success" [routerLink]="['/start-quiz']">
                          <i class="bi bi-play-fill"></i>
                          Lancer un quiz
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col d-flex flex-column">
            <app-resident-modification-handicap></app-resident-modification-handicap>
            <button class="btn btn-primary">Modifier</button>
        </div>

    </div>
</div>
