<div class="container">
  <div class="fs-2 mb-3"><i class="bi bi-pencil"></i> Création d'un résident</div>
</div>
<br>
<div class="container h-75">
  <div class="row">

    <div class="col">
      <app-resident-profile-modification [resident]="resident"></app-resident-profile-modification>
    </div>

    <div class="col d-flex flex-column">
      <app-resident-modification-handicap></app-resident-modification-handicap>
      <br>
      <button class="btn btn-success" routerLink="/resident">Valider</button>
    </div>
  </div>
</div>
