
<div id="quiz">
    <div id="question" class="zoomText">
      {{currentQuestion.label}}
    </div>

    <div class="row ">

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="handicap answerContainer answer hide {{currentQuestion.answers[0].isCorrect}}">
            <div class="textHandicap">{{currentQuestion.answers[0].value}}</div>
          </div>
        </div>

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="handicap handicap answerContainer answer hide {{currentQuestion.answers[1].isCorrect}}">
            <div class="textHandicap">{{currentQuestion.answers[1].value}}</div>
          </div>
        </div>

    </div>

    <div class="row ">

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="handicap answerContainer answer hide {{currentQuestion.answers[2].isCorrect}}">
            <div class="textHandicap">{{currentQuestion.answers[2].value}}</div>
          </div>
        </div>

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="handicap answerContainer  answer hide {{currentQuestion.answers[3].isCorrect}}">
                <div class="textHandicap">{{currentQuestion.answers[3].value}}</div>
          </div>
        </div>

    </div>

    <p id="resultAnswer" class="zoomText"></p>
</div>

<div class="nextQuestion-container">
  <div class="missClickRange" (click)="nextQuiz()">
    <div class="nextQuestion handicap answerContainer answer hide">
      <div class="textHandicap">Question suivante</div>
    </div>
  </div>
</div>

