<div id="controlPanel" (click)="updateMode()">
    <div>
        <input type="radio" name="mode" value="none" id="noMode">
        <label for="noMode">none</label>
    </div>
    <div>
        <input (click)="startMouseControlMode()" type="radio" name="mode" value="mouseControle" id="mouseControl">
        <label for="mouseControl">mouseControl</label>
    </div>
    <div>
        <input (click)="startMissClick()" type="radio" name="mode" value="missClick" id="missClick">
        <label for="missClick">missClick</label>
    </div>
    <div>
        <input (click)="startMissClickVisible()" type="radio" name="mode" value="missClickVisible" id="missClickVisible">
        <label for="missClickVisible">missClickVisible</label>
    </div>
</div>



<div (click)="leftClick()" (contextmenu)="rightClick($event)" id="quiz">
    <div id="question" class="zoomText">La date à laquelle il est née ?</div>
    <div class="row ">
        <div class="missClickRange" (click)="chooseAnswer($event)">
            <a id="answer1" class="btn btn-secondary answer hide true">
                1999
            </a>
        </div>
        <div class="missClickRange" (click)="chooseAnswer($event)">
            <a id="answer2" class="btn btn-secondary answer hide false">
                1899
            </a>
        </div>

    </div>
    <div class="row ">
        <div class="missClickRange" (click)="chooseAnswer($event)">
            <a id="answer3" class="btn btn-secondary answer hide false">
                 1699
            </a>
        </div>
        <div class="missClickRange" (click)="chooseAnswer($event)">
            <a id="answer4" class="btn btn-secondary answer hide false">
                1699
            </a>
        </div>
    </div>
    <p id="resultAnswer" class="zoomText"></p>
</div>