<div id="controlPanel" (click)="updateMode()">
    <div>
        <input type="radio" name="mode" value="none" id="noMode">
        <label for="noMode">none</label>
    </div>
    <div>
        <input (click)="startMouseControlMode()" type="radio" name="mode" value="mouseControle" id="mouseControl">
        <label for="mouseControl">mouseControl</label>
    </div>
    <div>
        <input (click)="startMissClick()" type="radio" name="mode" value="missClick" id="missClick">
        <label for="missClick">missClick</label>
    </div>
    <div>
        <input (click)="startMissClickVisible()" type="radio" name="mode" value="missClickVisible" id="missClickVisible">
        <label for="missClickVisible">missClickVisible</label>
    </div>
</div>



<div (click)="leftClick()" (contextmenu)="rightClick($event)" id="quiz">
    <div id="question" class="zoomText">{{currentQuestion.label}}</div>

    <div class="row ">

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="answerContainer btn btn-secondary answer hide {{currentQuestion.answers[0].isCorrect}}">
                {{currentQuestion.answers[0].value}}
          </div>
        </div>

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="answerContainer btn btn-secondary answer hide {{currentQuestion.answers[1].isCorrect}}">
                {{currentQuestion.answers[1].value}}
          </div>
        </div>

    </div>

    <div class="row ">

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="answerContainer btn btn-secondary answer hide {{currentQuestion.answers[2].isCorrect}}">
                {{currentQuestion.answers[2].value}}
          </div>
        </div>

        <div class="missClickRange" (click)="chooseAnswer($event)">
          <div class="answerContainer btn btn-secondary answer hide {{currentQuestion.answers[3].isCorrect}}">
                {{currentQuestion.answers[3].value}}
          </div>
        </div>

    </div>

    <p id="resultAnswer" class="zoomText"></p>
</div>

