<div class="col">

  <br>
  <br>
  <div  class="d-flex justify-content-center">
    <div class="fs-2 mb-3"><i class="bi bi-question-circle-fill"></i> Que voulez-vous faire ?</div>
  </div>
  <br>
  <br>

  <div class="quiz" *ngFor="let quiz of quizList">
    <div class="card-body d-flex justify-content-center flex-wrap ">
      <button href="#" class="btn btn-secondary" (click)="defineSelectedQuiz(quiz)" routerLink="/quiz/{{residentid}}/{{quiz.id}}">
      {{quiz.name}}
      </button>
    </div>
    <br>
  </div>


</div>
