.quiz-name-button{
  height: 14vh;
  width: 40vw;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-name-button:hover{
  cursor: pointer;
  background-color: lightgray;
}
